In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline
from sklearn import datasets #contains datasets like iris,titanic,digits
from sklearn.metrics import classification_report , confusion_matrix , accuracy_score #metrics and accuracy

In [14]:
data , target = datasets.load_iris(return_X_y = True)

In [16]:
data.shape

(150, 4)

In [17]:
target.shape

(150,)

In [18]:
df = pd.DataFrame(data = data)
df.head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [19]:
df.tail()

       0    1    2    3
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

In [20]:
df1 = pd.DataFrame(data = target)
df1.head()

   0
0  0
1  0
2  0
3  0
4  0

In [21]:
df1.tail()

     0
145  2
146  2
147  2
148  2
149  2

In [22]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(data , target , test_size = 0.25 , random_state = 42)

In [23]:
from sklearn.naive_bayes import GaussianNB , MultinomialNB
model1 = GaussianNB()

In [24]:
model1.fit(x_train , y_train)

GaussianNB(priors=None)

In [25]:
y_pred = model1.predict(x_test)

In [26]:
data = {'Actual' : y_test , 'Predicted' : y_pred}
out = pd.DataFrame(data = data)
out

    Actual  Predicted
0        1          1
1        0          0
2        2          2
3        1          1
4        1          1
5        0          0
6        1          1
7        2          2
8        1          1
9        1          1
10       2          2
11       0          0
12       0          0
13       0          0
14       0          0
15       1          1
16       2          2
17       1          1
18       1          1
19       2          2
20       0          0
21       2          2
22       0          0
23       2          2
24       2          2
25       2          2
26       2          2
27       2          2
28       0          0
29       0          0
30       0          0
31       0          0
32       1          1
33       0          0
34       0          0
35       2          2
36       1          1
37       0          0

In [27]:
print(confusion_matrix(y_test , y_pred))

[[15  0  0]
 [ 0 11  0]
 [ 0  0 12]]

In [28]:
print(classification_report(y_test , y_pred))

             precision    recall  f1-score   support

          0       1.00      1.00      1.00        15
          1       1.00      1.00      1.00        11
          2       1.00      1.00      1.00        12

avg / total       1.00      1.00      1.00        38

In [29]:
print(accuracy_score(y_test, y_pred))

1.0

In [30]:
model2 = MultinomialNB()

In [31]:
model2.fit(x_train , y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [32]:
y_pred2 = model2.predict(x_test)

In [33]:
data = {'Actual' : y_test , 'Predicted' : y_pred2}
out2 = pd.DataFrame(data)
out2

    Actual  Predicted
0        1          1
1        0          0
2        2          2
3        1          1
4        1          1
5        0          0
6        1          1
7        2          2
8        1          1
9        1          1
10       2          2
11       0          0
12       0          0
13       0          0
14       0          0
15       1          1
16       2          2
17       1          1
18       1          1
19       2          2
20       0          0
21       2          2
22       0          0
23       2          2
24       2          1
25       2          2
26       2          2
27       2          2
28       0          0
29       0          0
30       0          0
31       0          0
32       1          1
33       0          0
34       0          0
35       2          2
36       1          1
37       0          0

In [34]:
print(confusion_matrix(y_test , y_pred2))

[[15  0  0]
 [ 0 11  0]
 [ 0  1 11]]

In [35]:
print(classification_report(y_test , y_pred2))

             precision    recall  f1-score   support

          0       1.00      1.00      1.00        15
          1       0.92      1.00      0.96        11
          2       1.00      0.92      0.96        12

avg / total       0.98      0.97      0.97        38

In [36]:
print(accuracy_score(y_test , y_pred2))

0.9736842105263158